In [1]:
import pandas as pd
from scipy.stats import f_oneway

C:\Users\Saket Ranjan\AppData\Local\Temp\ipykernel_6640\1462395675.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
titanic_df = pd.read_csv('titanic.csv')

In [3]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [9]:
filtered_titanic_df = titanic_df[['Pclass', 'Fare']].dropna()
grouped_fare = filtered_titanic_df.groupby('Pclass')['Fare']
grand_mean = filtered_titanic_df['Fare'].mean()
grand_mean

32.204207968574636

In [10]:
k = len(grouped_fare)  # Number of groups (Pclass)
n_i = grouped_fare.size()  # Number of observations in each group
N = n_i.sum()  # Total number of observations

correction_factor = sum((group.mean() - grand_mean)**2 * len(group) for name, group in grouped_fare) / (k - 1)

In [11]:
print("Correction Factor for Fare and Pclass:", correction_factor)

Correction Factor for Fare and Pclass: 388015.0282893559

In [12]:
overall_mean = filtered_titanic_df['Fare'].mean()
squared_diff = ((filtered_titanic_df['Fare'] - overall_mean) ** 2).sum()
print("Total Sum of Squares (SST) for Fare and Pclass:", squared_diff)

Total Sum of Squares (SST) for Fare and Pclass: 2197798.7927113734

In [13]:
grand_mean = filtered_titanic_df['Fare'].mean()
group_means = grouped_fare.mean()
ssb = sum(n_i[name] * (group_mean - grand_mean) ** 2 for name, group_mean in group_means.items())
print("Sum of Squares Between (SSB) for Fare and Pclass:", ssb)

Sum of Squares Between (SSB) for Fare and Pclass: 776030.0565787118

In [15]:
ssw = squared_diff - ssb
print("Sum of Squares Within (SSW) for Fare and Pclass:", ssw)

Sum of Squares Within (SSW) for Fare and Pclass: 1421768.7361326616

In [16]:
# Number of groups (Pclass)
k = len(grouped_fare)

# Total number of observations
N = filtered_titanic_df.shape[0]

# Calculate degrees of freedom between groups and within groups
df_B = k - 1
df_W = N - k

# Print the values of df_B and df_W
print("Degrees of Freedom Between (df_B):", df_B)
print("Degrees of Freedom Within (df_W):", df_W)

Degrees of Freedom Between (df_B): 2
Degrees of Freedom Within (df_W): 888

In [17]:
# Calculate MSB and MSW
msb = ssb / df_B
msw = ssw / df_W

# Print MSB and MSW
print("Mean Square Between (MSB) for Fare and Pclass:", msb)
print("Mean Square Within (MSW) for Fare and Pclass:", msw)

Mean Square Between (MSB) for Fare and Pclass: 388015.0282893559
Mean Square Within (MSW) for Fare and Pclass: 1601.0909190683126

In [18]:
# Calculate the F-value
f_value = msb / msw

# Print the F-value
print("F-value for Fare and Pclass:", f_value)

F-value for Fare and Pclass: 242.34415651744806

In [19]:
from scipy.stats import f

# Calculate the p-value
p_value = 1 - f.cdf(f_value, df_B, df_W)

# Print the p-value
print("P-value for Fare and Pclass:", p_value)

P-value for Fare and Pclass: 1.1102230246251565e-16

In [21]:

if p_value < 0.05:
    print("The differences in fare distribution among passenger classes are statistically significant.")
else:
    print("There is not enough evidence to conclude that the differences in fare distribution among passenger classes are statistically significant.")

The differences in fare distribution among passenger classes are statistically significant.